mixin Calendar()
  #c-calendar.c-calendar
    .c-calendar-select
      select#year(name="year").c-calendar-select__list
        - def = 2020
        - for(let t=0; t<10; t++)
          option(value=def) !{def}
          - def++

    //- #c-calendar-router
      //- .c-calendar-inner
      //-   .c-calendar-month
      //-     |1月
      //-   table.c-calendar-tbl
      //-     - day = 1
      //-     - row = 1
      //-     - for(let h=0; h<3; h++)
      //-       tr.c-calendar-tbl__row
      //-         - for(let i=0; i<11; i++)
      //-           - if(i===10 && day === 11)
      //-             td.c-calendar-tbl__cell.empty
      //-               span.c-calendar-tbl__daily
      //-                 |!{day}
      //-           - else if(i===10 && day === 21)
      //-             td.c-calendar-tbl__cell.empty
      //-               span.c-calendar-tbl__daily
      //-                 |!{day}
      //-           - else
      //-             td.c-calendar-tbl__cell
      //-               span.c-calendar-tbl__daily
      //-                 |!{day}
      //-           - day++
      //-         - row++
      //-         - if(row === 2)
      //-           - day = 11
      //-         - if(row === 3)
      //-           - day = 21
    #c-calendar-router
      .c-calendar-inner
        .c-calendar-month 1月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/1/1')
                span.c-calendar-tbl__daily 1/月
              td.c-calendar-tbl__cell(data-date='2024/1/2')
                span.c-calendar-tbl__daily 2/火
              td.c-calendar-tbl__cell(data-date='2024/1/3')
                span.c-calendar-tbl__daily 3/水
              td.c-calendar-tbl__cell(data-date='2024/1/4')
                span.c-calendar-tbl__daily 4/木
              td.c-calendar-tbl__cell(data-date='2024/1/5')
                span.c-calendar-tbl__daily 5/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/1/6')
                span.c-calendar-tbl__daily 6/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/1/7')
                span.c-calendar-tbl__daily 7/日
              td.c-calendar-tbl__cell(data-date='2024/1/8')
                span.c-calendar-tbl__daily 8/月
              td.c-calendar-tbl__cell(data-date='2024/1/9')
                span.c-calendar-tbl__daily 9/火
              td.c-calendar-tbl__cell(data-date='2024/1/10')
                span.c-calendar-tbl__daily 10/水
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/1/11')
                span.c-calendar-tbl__daily 11/木
              td.c-calendar-tbl__cell(data-date='2024/1/12')
                span.c-calendar-tbl__daily 12/金
              td.c-calendar-tbl__cell.--sat.startDay(data-date='2024/1/13')
                span.handle
                span.c-calendar-tbl__daily 13/土
              td.c-calendar-tbl__cell.--sun.targetDay(data-date='2024/1/14')
                span.target
                span.c-calendar-tbl__daily 14/日
              td.c-calendar-tbl__cell.atDay(data-date='2024/1/15')
                .content
                  .type_wrapper
                    span.type 試
                  span.date 2024/10/25
                  span.pattern A
                  span.caption 山田
                  span.caption 高嶺野
                span.c-calendar-tbl__daily 15/月
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/16')
                span.target
                span.c-calendar-tbl__daily 16/火
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/17')
                span.target
                span.c-calendar-tbl__daily 17/水
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/18')
                span.target
                span.c-calendar-tbl__daily 18/木
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/19')
                span.target
                span.c-calendar-tbl__daily 19/金
              td.c-calendar-tbl__cell.--sat.targetDay(data-date='2024/1/20')
                span.target
                span.c-calendar-tbl__daily 20/土
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sun.targetDay(data-date='2024/1/21')
                span.target
                span.c-calendar-tbl__daily 21/日
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/22')
                span.target
                span.c-calendar-tbl__daily 22/月
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/23')
                span.target
                span.c-calendar-tbl__daily 23/火
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/24')
                span.target
                span.c-calendar-tbl__daily 24/水
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/25')
                span.target
                span.c-calendar-tbl__daily 25/木
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/26')
                span.target
                span.c-calendar-tbl__daily 26/金
              td.c-calendar-tbl__cell.--sat.targetDay(data-date='2024/1/27')
                span.target
                span.c-calendar-tbl__daily 27/土
              td.c-calendar-tbl__cell.--sun.targetDay(data-date='2024/1/28')
                span.target
                span.c-calendar-tbl__daily 28/日
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/29')
                span.target
                span.c-calendar-tbl__daily 29/月
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/30')
                span.target
                span.c-calendar-tbl__daily 30/火
              td.c-calendar-tbl__cell.targetDay(data-date='2024/1/31')
                span.target
                span.c-calendar-tbl__daily 31/水
      .c-calendar-inner
        .c-calendar-month 2月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.targetDay(data-date='2024/2/1')
                span.target
                span.c-calendar-tbl__daily 1/木
              td.c-calendar-tbl__cell.targetDay(data-date='2024/2/2')
                span.target
                span.c-calendar-tbl__daily 2/金
              td.c-calendar-tbl__cell.--sat.targetDay(data-date='2024/2/3')
                span.target
                span.c-calendar-tbl__daily 3/土
              td.c-calendar-tbl__cell.--sun.targetDay(data-date='2024/2/4')
                span.target
                span.c-calendar-tbl__daily 4/日
              td.c-calendar-tbl__cell.endDay(data-date='2024/2/5')
                span.handle
                span.c-calendar-tbl__daily 5/月
              td.c-calendar-tbl__cell(data-date='2024/2/6')
                span.c-calendar-tbl__daily 6/火
              td.c-calendar-tbl__cell(data-date='2024/2/7')
                span.c-calendar-tbl__daily 7/水
              td.c-calendar-tbl__cell(data-date='2024/2/8')
                span.c-calendar-tbl__daily 8/木
              td.c-calendar-tbl__cell(data-date='2024/2/9')
                span.c-calendar-tbl__daily 9/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/2/10')
                span.c-calendar-tbl__daily 10/土
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sun(data-date='2024/2/11')
                span.c-calendar-tbl__daily 11/日
              td.c-calendar-tbl__cell.startDay(data-date='2024/2/12')
                span.handle
                span.c-calendar-tbl__daily 12/月
              td.c-calendar-tbl__cell.targetDay(data-date='2024/2/13')
                span.target
                span.c-calendar-tbl__daily 13/火
              td.c-calendar-tbl__cell.targetDay(data-date='2024/2/14')
                span.target
                span.c-calendar-tbl__daily 14/水
              td.c-calendar-tbl__cell.atDay(data-date='2024/2/15')
                .content
                  .type_wrapper
                    span.type 試
                    soan.type 試
                  span.date 2024/10/25
                  span.pattern A
                  span.caption 山田
                  span.caption 高嶺野
                span.c-calendar-tbl__daily 15/木
              td.c-calendar-tbl__cell.targetDay(data-date='2024/2/16')
                span.target
                span.c-calendar-tbl__daily 16/金
              td.c-calendar-tbl__cell.--sat.targetDay(data-date='2024/2/17')
                span.target
                span.c-calendar-tbl__daily 17/土
              td.c-calendar-tbl__cell.--sun.endDay(data-date='2024/2/18')
                span.handle
                span.c-calendar-tbl__daily 18/日
              td.c-calendar-tbl__cell(data-date='2024/2/19')
                span.c-calendar-tbl__daily 19/月
              td.c-calendar-tbl__cell(data-date='2024/2/20')
                span.c-calendar-tbl__daily 20/火
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/2/21')
                span.c-calendar-tbl__daily 21/水
              td.c-calendar-tbl__cell(data-date='2024/2/22')
                span.c-calendar-tbl__daily 22/木
              td.c-calendar-tbl__cell(data-date='2024/2/23')
                span.c-calendar-tbl__daily 23/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/2/24')
                span.c-calendar-tbl__daily 24/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/2/25')
                span.c-calendar-tbl__daily 25/日
              td.c-calendar-tbl__cell(data-date='2024/2/26')
                span.c-calendar-tbl__daily 26/月
              td.c-calendar-tbl__cell(data-date='2024/2/27')
                span.c-calendar-tbl__daily 27/火
              td.c-calendar-tbl__cell(data-date='2024/2/28')
                span.c-calendar-tbl__daily 28/水
              td.c-calendar-tbl__cell(data-date='2024/2/29')
                span.c-calendar-tbl__daily 29/木
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
      .c-calendar-inner
        .c-calendar-month 3月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.startDay.--tier(data-date='2024/3/1')
                span.handle
                span.c-calendar-tbl__daily 1/金
              td.c-calendar-tbl__cell.--sat.atDay.--tier(data-date='2024/3/2')
                .content
                  .type_wrapper
                    span.type 試
                span.c-calendar-tbl__daily 2/土
              td.c-calendar-tbl__cell.--sun.targetDay.--tier(data-date='2024/3/3')
                span.target
                span.c-calendar-tbl__daily 3/日
              td.c-calendar-tbl__cell.targetDay.--tier(data-date='2024/3/4')
                span.target
                span.c-calendar-tbl__daily 4/月
              td.c-calendar-tbl__cell.endDay.--tier(data-date='2024/3/5')
                span.handle
                span.c-calendar-tbl__daily 5/火
              td.c-calendar-tbl__cell(data-date='2024/3/6')
                span.c-calendar-tbl__daily 6/水
              td.c-calendar-tbl__cell(data-date='2024/3/7')
                span.c-calendar-tbl__daily 7/木
              td.c-calendar-tbl__cell(data-date='2024/3/8')
                span.c-calendar-tbl__daily 8/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/3/9')
                span.c-calendar-tbl__daily 9/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/3/10')
                span.c-calendar-tbl__daily 10/日
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/3/11')
                span.c-calendar-tbl__daily 11/月
              td.c-calendar-tbl__cell(data-date='2024/3/12')
                span.c-calendar-tbl__daily 12/火
              td.c-calendar-tbl__cell(data-date='2024/3/13')
                span.c-calendar-tbl__daily 13/水
              td.c-calendar-tbl__cell(data-date='2024/3/14')
                span.c-calendar-tbl__daily 14/木
              td.c-calendar-tbl__cell(data-date='2024/3/15')
                span.c-calendar-tbl__daily 15/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/3/16')
                span.c-calendar-tbl__daily 16/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/3/17')
                span.c-calendar-tbl__daily 17/日
              td.c-calendar-tbl__cell(data-date='2024/3/18')
                span.c-calendar-tbl__daily 18/月
              td.c-calendar-tbl__cell(data-date='2024/3/19')
                span.c-calendar-tbl__daily 19/火
              td.c-calendar-tbl__cell(data-date='2024/3/20')
                span.c-calendar-tbl__daily 20/水
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/3/21')
                span.c-calendar-tbl__daily 21/木
              td.c-calendar-tbl__cell(data-date='2024/3/22')
                span.c-calendar-tbl__daily 22/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/3/23')
                span.c-calendar-tbl__daily 23/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/3/24')
                span.c-calendar-tbl__daily 24/日
              td.c-calendar-tbl__cell(data-date='2024/3/25')
                span.c-calendar-tbl__daily 25/月
              td.c-calendar-tbl__cell(data-date='2024/3/26')
                span.c-calendar-tbl__daily 26/火
              td.c-calendar-tbl__cell(data-date='2024/3/27')
                span.c-calendar-tbl__daily 27/水
              td.c-calendar-tbl__cell(data-date='2024/3/28')
                span.c-calendar-tbl__daily 28/木
              td.c-calendar-tbl__cell(data-date='2024/3/29')
                span.c-calendar-tbl__daily 29/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/3/30')
                span.c-calendar-tbl__daily 30/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/3/31')
                span.c-calendar-tbl__daily 31/日
      .c-calendar-inner
        .c-calendar-month 4月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/4/1')
                span.c-calendar-tbl__daily 1/月
              td.c-calendar-tbl__cell(data-date='2024/4/2')
                span.c-calendar-tbl__daily 2/火
              td.c-calendar-tbl__cell(data-date='2024/4/3')
                span.c-calendar-tbl__daily 3/水
              td.c-calendar-tbl__cell(data-date='2024/4/4')
                span.c-calendar-tbl__daily 4/木
              td.c-calendar-tbl__cell(data-date='2024/4/5')
                span.c-calendar-tbl__daily 5/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/4/6')
                span.c-calendar-tbl__daily 6/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/4/7')
                span.c-calendar-tbl__daily 7/日
              td.c-calendar-tbl__cell(data-date='2024/4/8')
                span.c-calendar-tbl__daily 8/月
              td.c-calendar-tbl__cell(data-date='2024/4/9')
                span.c-calendar-tbl__daily 9/火
              td.c-calendar-tbl__cell(data-date='2024/4/10')
                span.c-calendar-tbl__daily 10/水
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/4/11')
                span.c-calendar-tbl__daily 11/木
              td.c-calendar-tbl__cell(data-date='2024/4/12')
                span.c-calendar-tbl__daily 12/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/4/13')
                span.c-calendar-tbl__daily 13/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/4/14')
                span.c-calendar-tbl__daily 14/日
              td.c-calendar-tbl__cell(data-date='2024/4/15')
                span.c-calendar-tbl__daily 15/月
              td.c-calendar-tbl__cell(data-date='2024/4/16')
                span.c-calendar-tbl__daily 16/火
              td.c-calendar-tbl__cell(data-date='2024/4/17')
                span.c-calendar-tbl__daily 17/水
              td.c-calendar-tbl__cell(data-date='2024/4/18')
                span.c-calendar-tbl__daily 18/木
              td.c-calendar-tbl__cell(data-date='2024/4/19')
                span.c-calendar-tbl__daily 19/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/4/20')
                span.c-calendar-tbl__daily 20/土
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sun(data-date='2024/4/21')
                span.c-calendar-tbl__daily 21/日
              td.c-calendar-tbl__cell(data-date='2024/4/22')
                span.c-calendar-tbl__daily 22/月
              td.c-calendar-tbl__cell(data-date='2024/4/23')
                span.c-calendar-tbl__daily 23/火
              td.c-calendar-tbl__cell(data-date='2024/4/24')
                span.c-calendar-tbl__daily 24/水
              td.c-calendar-tbl__cell(data-date='2024/4/25')
                span.c-calendar-tbl__daily 25/木
              td.c-calendar-tbl__cell(data-date='2024/4/26')
                span.c-calendar-tbl__daily 26/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/4/27')
                span.c-calendar-tbl__daily 27/土
              td.c-calendar-tbl__cell.--sun.startDay(data-date='2024/4/28')
                span.handle
                span.c-calendar-tbl__daily 28/日
              td.c-calendar-tbl__cell.targetDay(data-date='2024/4/29')
                span.target
                span.c-calendar-tbl__daily 29/月
              td.c-calendar-tbl__cell.targetDay(data-date='2024/4/30')
                span.target
                span.c-calendar-tbl__daily 30/火
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
      .c-calendar-inner
        .c-calendar-month 5月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.targetDay(data-date='2024/5/1')
                span.target
                span.c-calendar-tbl__daily 1/水
              td.c-calendar-tbl__cell.targetDay(data-date='2024/5/2')
                span.target
                span.c-calendar-tbl__daily 2/木
              td.c-calendar-tbl__cell.targetDay(data-date='2024/5/3')
                span.target
                span.c-calendar-tbl__daily 3/金
              td.c-calendar-tbl__cell.--sat.targetDay(data-date='2024/5/4')
                span.target
                span.c-calendar-tbl__daily 4/土
              td.c-calendar-tbl__cell.--sun.targetDay(data-date='2024/5/5')
                span.target
                span.c-calendar-tbl__daily 5/日
              td.c-calendar-tbl__cell.atDay(data-date='2024/5/6')
                .content
                span.c-calendar-tbl__daily 6/月
              td.c-calendar-tbl__cell.targetDay(data-date='2024/5/7')
                span.target
                span.c-calendar-tbl__daily 7/火
              td.c-calendar-tbl__cell.targetDay(data-date='2024/5/8')
                span.target
                span.c-calendar-tbl__daily 8/水
              td.c-calendar-tbl__cell.targetDay(data-date='2024/5/9')
                span.target
                span.c-calendar-tbl__daily 9/木
              td.c-calendar-tbl__cell.targetDay(data-date='2024/5/10')
                span.target
                span.c-calendar-tbl__daily 10/金
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sat.targetDay(data-date='2024/5/11')
                span.target
                span.c-calendar-tbl__daily 11/土
              td.c-calendar-tbl__cell.--sun.targetDay(data-date='2024/5/12')
                span.target
                span.c-calendar-tbl__daily 12/日
              td.c-calendar-tbl__cell.endDay(data-date='2024/5/13')
                span.handle
                span.c-calendar-tbl__daily 13/月
              td.c-calendar-tbl__cell(data-date='2024/5/14')
                span.c-calendar-tbl__daily 14/火
              td.c-calendar-tbl__cell(data-date='2024/5/15')
                span.c-calendar-tbl__daily 15/水
              td.c-calendar-tbl__cell(data-date='2024/5/16')
                span.c-calendar-tbl__daily 16/木
              td.c-calendar-tbl__cell(data-date='2024/5/17')
                span.c-calendar-tbl__daily 17/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/5/18')
                span.c-calendar-tbl__daily 18/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/5/19')
                span.c-calendar-tbl__daily 19/日
              td.c-calendar-tbl__cell(data-date='2024/5/20')
                span.c-calendar-tbl__daily 20/月
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/5/21')
                span.c-calendar-tbl__daily 21/火
              td.c-calendar-tbl__cell(data-date='2024/5/22')
                span.c-calendar-tbl__daily 22/水
              td.c-calendar-tbl__cell(data-date='2024/5/23')
                span.c-calendar-tbl__daily 23/木
              td.c-calendar-tbl__cell(data-date='2024/5/24')
                span.c-calendar-tbl__daily 24/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/5/25')
                span.c-calendar-tbl__daily 25/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/5/26')
                span.c-calendar-tbl__daily 26/日
              td.c-calendar-tbl__cell(data-date='2024/5/27')
                span.c-calendar-tbl__daily 27/月
              td.c-calendar-tbl__cell(data-date='2024/5/28')
                span.c-calendar-tbl__daily 28/火
              td.c-calendar-tbl__cell(data-date='2024/5/29')
                span.c-calendar-tbl__daily 29/水
              td.c-calendar-tbl__cell(data-date='2024/5/30')
                span.c-calendar-tbl__daily 30/木
              td.c-calendar-tbl__cell(data-date='2024/5/31')
                span.c-calendar-tbl__daily 31/金
      .c-calendar-inner
        .c-calendar-month 6月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sat(data-date='2024/6/1')
                span.c-calendar-tbl__daily 1/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/6/2')
                span.c-calendar-tbl__daily 2/日
              td.c-calendar-tbl__cell(data-date='2024/6/3')
                span.c-calendar-tbl__daily 3/月
              td.c-calendar-tbl__cell(data-date='2024/6/4')
                span.c-calendar-tbl__daily 4/火
              td.c-calendar-tbl__cell(data-date='2024/6/5')
                span.c-calendar-tbl__daily 5/水
              td.c-calendar-tbl__cell(data-date='2024/6/6')
                span.c-calendar-tbl__daily 6/木
              td.c-calendar-tbl__cell(data-date='2024/6/7')
                span.c-calendar-tbl__daily 7/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/6/8')
                span.c-calendar-tbl__daily 8/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/6/9')
                span.c-calendar-tbl__daily 9/日
              td.c-calendar-tbl__cell(data-date='2024/6/10')
                span.c-calendar-tbl__daily 10/月
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/6/11')
                span.c-calendar-tbl__daily 11/火
              td.c-calendar-tbl__cell(data-date='2024/6/12')
                span.c-calendar-tbl__daily 12/水
              td.c-calendar-tbl__cell(data-date='2024/6/13')
                span.c-calendar-tbl__daily 13/木
              td.c-calendar-tbl__cell(data-date='2024/6/14')
                span.c-calendar-tbl__daily 14/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/6/15')
                span.c-calendar-tbl__daily 15/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/6/16')
                span.c-calendar-tbl__daily 16/日
              td.c-calendar-tbl__cell(data-date='2024/6/17')
                span.c-calendar-tbl__daily 17/月
              td.c-calendar-tbl__cell(data-date='2024/6/18')
                span.c-calendar-tbl__daily 18/火
              td.c-calendar-tbl__cell(data-date='2024/6/19')
                span.c-calendar-tbl__daily 19/水
              td.c-calendar-tbl__cell(data-date='2024/6/20')
                span.c-calendar-tbl__daily 20/木
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/6/21')
                span.c-calendar-tbl__daily 21/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/6/22')
                span.c-calendar-tbl__daily 22/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/6/23')
                span.c-calendar-tbl__daily 23/日
              td.c-calendar-tbl__cell(data-date='2024/6/24')
                span.c-calendar-tbl__daily 24/月
              td.c-calendar-tbl__cell(data-date='2024/6/25')
                span.c-calendar-tbl__daily 25/火
              td.c-calendar-tbl__cell(data-date='2024/6/26')
                span.c-calendar-tbl__daily 26/水
              td.c-calendar-tbl__cell(data-date='2024/6/27')
                span.c-calendar-tbl__daily 27/木
              td.c-calendar-tbl__cell(data-date='2024/6/28')
                span.c-calendar-tbl__daily 28/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/6/29')
                span.c-calendar-tbl__daily 29/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/6/30')
                span.c-calendar-tbl__daily 30/日
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
      .c-calendar-inner
        .c-calendar-month 7月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/7/1')
                span.c-calendar-tbl__daily 1/月
              td.c-calendar-tbl__cell(data-date='2024/7/2')
                span.c-calendar-tbl__daily 2/火
              td.c-calendar-tbl__cell(data-date='2024/7/3')
                span.c-calendar-tbl__daily 3/水
              td.c-calendar-tbl__cell(data-date='2024/7/4')
                span.c-calendar-tbl__daily 4/木
              td.c-calendar-tbl__cell(data-date='2024/7/5')
                span.c-calendar-tbl__daily 5/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/7/6')
                span.c-calendar-tbl__daily 6/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/7/7')
                span.c-calendar-tbl__daily 7/日
              td.c-calendar-tbl__cell(data-date='2024/7/8')
                span.c-calendar-tbl__daily 8/月
              td.c-calendar-tbl__cell(data-date='2024/7/9')
                span.c-calendar-tbl__daily 9/火
              td.c-calendar-tbl__cell(data-date='2024/7/10')
                span.c-calendar-tbl__daily 10/水
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/7/11')
                span.c-calendar-tbl__daily 11/木
              td.c-calendar-tbl__cell(data-date='2024/7/12')
                span.c-calendar-tbl__daily 12/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/7/13')
                span.c-calendar-tbl__daily 13/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/7/14')
                span.c-calendar-tbl__daily 14/日
              td.c-calendar-tbl__cell(data-date='2024/7/15')
                span.c-calendar-tbl__daily 15/月
              td.c-calendar-tbl__cell(data-date='2024/7/16')
                span.c-calendar-tbl__daily 16/火
              td.c-calendar-tbl__cell(data-date='2024/7/17')
                span.c-calendar-tbl__daily 17/水
              td.c-calendar-tbl__cell(data-date='2024/7/18')
                span.c-calendar-tbl__daily 18/木
              td.c-calendar-tbl__cell(data-date='2024/7/19')
                span.c-calendar-tbl__daily 19/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/7/20')
                span.c-calendar-tbl__daily 20/土
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sun(data-date='2024/7/21')
                span.c-calendar-tbl__daily 21/日
              td.c-calendar-tbl__cell(data-date='2024/7/22')
                span.c-calendar-tbl__daily 22/月
              td.c-calendar-tbl__cell(data-date='2024/7/23')
                span.c-calendar-tbl__daily 23/火
              td.c-calendar-tbl__cell(data-date='2024/7/24')
                span.c-calendar-tbl__daily 24/水
              td.c-calendar-tbl__cell(data-date='2024/7/25')
                span.c-calendar-tbl__daily 25/木
              td.c-calendar-tbl__cell(data-date='2024/7/26')
                span.c-calendar-tbl__daily 26/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/7/27')
                span.c-calendar-tbl__daily 27/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/7/28')
                span.c-calendar-tbl__daily 28/日
              td.c-calendar-tbl__cell(data-date='2024/7/29')
                span.c-calendar-tbl__daily 29/月
              td.c-calendar-tbl__cell(data-date='2024/7/30')
                span.c-calendar-tbl__daily 30/火
              td.c-calendar-tbl__cell(data-date='2024/7/31')
                span.c-calendar-tbl__daily 31/水
      .c-calendar-inner
        .c-calendar-month 8月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/8/1')
                span.c-calendar-tbl__daily 1/木
              td.c-calendar-tbl__cell(data-date='2024/8/2')
                span.c-calendar-tbl__daily 2/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/8/3')
                span.c-calendar-tbl__daily 3/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/8/4')
                span.c-calendar-tbl__daily 4/日
              td.c-calendar-tbl__cell(data-date='2024/8/5')
                span.c-calendar-tbl__daily 5/月
              td.c-calendar-tbl__cell(data-date='2024/8/6')
                span.c-calendar-tbl__daily 6/火
              td.c-calendar-tbl__cell(data-date='2024/8/7')
                span.c-calendar-tbl__daily 7/水
              td.c-calendar-tbl__cell(data-date='2024/8/8')
                span.c-calendar-tbl__daily 8/木
              td.c-calendar-tbl__cell(data-date='2024/8/9')
                span.c-calendar-tbl__daily 9/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/8/10')
                span.c-calendar-tbl__daily 10/土
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sun(data-date='2024/8/11')
                span.c-calendar-tbl__daily 11/日
              td.c-calendar-tbl__cell(data-date='2024/8/12')
                span.c-calendar-tbl__daily 12/月
              td.c-calendar-tbl__cell(data-date='2024/8/13')
                span.c-calendar-tbl__daily 13/火
              td.c-calendar-tbl__cell(data-date='2024/8/14')
                span.c-calendar-tbl__daily 14/水
              td.c-calendar-tbl__cell(data-date='2024/8/15')
                span.c-calendar-tbl__daily 15/木
              td.c-calendar-tbl__cell(data-date='2024/8/16')
                span.c-calendar-tbl__daily 16/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/8/17')
                span.c-calendar-tbl__daily 17/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/8/18')
                span.c-calendar-tbl__daily 18/日
              td.c-calendar-tbl__cell(data-date='2024/8/19')
                span.c-calendar-tbl__daily 19/月
              td.c-calendar-tbl__cell(data-date='2024/8/20')
                span.c-calendar-tbl__daily 20/火
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/8/21')
                span.c-calendar-tbl__daily 21/水
              td.c-calendar-tbl__cell(data-date='2024/8/22')
                span.c-calendar-tbl__daily 22/木
              td.c-calendar-tbl__cell(data-date='2024/8/23')
                span.c-calendar-tbl__daily 23/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/8/24')
                span.c-calendar-tbl__daily 24/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/8/25')
                span.c-calendar-tbl__daily 25/日
              td.c-calendar-tbl__cell(data-date='2024/8/26')
                span.c-calendar-tbl__daily 26/月
              td.c-calendar-tbl__cell(data-date='2024/8/27')
                span.c-calendar-tbl__daily 27/火
              td.c-calendar-tbl__cell(data-date='2024/8/28')
                span.c-calendar-tbl__daily 28/水
              td.c-calendar-tbl__cell(data-date='2024/8/29')
                span.c-calendar-tbl__daily 29/木
              td.c-calendar-tbl__cell(data-date='2024/8/30')
                span.c-calendar-tbl__daily 30/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/8/31')
                span.c-calendar-tbl__daily 31/土
      .c-calendar-inner
        .c-calendar-month 9月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sun(data-date='2024/9/1')
                span.c-calendar-tbl__daily 1/日
              td.c-calendar-tbl__cell(data-date='2024/9/2')
                span.c-calendar-tbl__daily 2/月
              td.c-calendar-tbl__cell(data-date='2024/9/3')
                span.c-calendar-tbl__daily 3/火
              td.c-calendar-tbl__cell(data-date='2024/9/4')
                span.c-calendar-tbl__daily 4/水
              td.c-calendar-tbl__cell(data-date='2024/9/5')
                span.c-calendar-tbl__daily 5/木
              td.c-calendar-tbl__cell(data-date='2024/9/6')
                span.c-calendar-tbl__daily 6/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/9/7')
                span.c-calendar-tbl__daily 7/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/9/8')
                span.c-calendar-tbl__daily 8/日
              td.c-calendar-tbl__cell(data-date='2024/9/9')
                span.c-calendar-tbl__daily 9/月
              td.c-calendar-tbl__cell(data-date='2024/9/10')
                span.c-calendar-tbl__daily 10/火
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/9/11')
                span.c-calendar-tbl__daily 11/水
              td.c-calendar-tbl__cell(data-date='2024/9/12')
                span.c-calendar-tbl__daily 12/木
              td.c-calendar-tbl__cell(data-date='2024/9/13')
                span.c-calendar-tbl__daily 13/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/9/14')
                span.c-calendar-tbl__daily 14/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/9/15')
                span.c-calendar-tbl__daily 15/日
              td.c-calendar-tbl__cell(data-date='2024/9/16')
                span.c-calendar-tbl__daily 16/月
              td.c-calendar-tbl__cell(data-date='2024/9/17')
                span.c-calendar-tbl__daily 17/火
              td.c-calendar-tbl__cell(data-date='2024/9/18')
                span.c-calendar-tbl__daily 18/水
              td.c-calendar-tbl__cell(data-date='2024/9/19')
                span.c-calendar-tbl__daily 19/木
              td.c-calendar-tbl__cell(data-date='2024/9/20')
                span.c-calendar-tbl__daily 20/金
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sat(data-date='2024/9/21')
                span.c-calendar-tbl__daily 21/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/9/22')
                span.c-calendar-tbl__daily 22/日
              td.c-calendar-tbl__cell(data-date='2024/9/23')
                span.c-calendar-tbl__daily 23/月
              td.c-calendar-tbl__cell(data-date='2024/9/24')
                span.c-calendar-tbl__daily 24/火
              td.c-calendar-tbl__cell(data-date='2024/9/25')
                span.c-calendar-tbl__daily 25/水
              td.c-calendar-tbl__cell(data-date='2024/9/26')
                span.c-calendar-tbl__daily 26/木
              td.c-calendar-tbl__cell(data-date='2024/9/27')
                span.c-calendar-tbl__daily 27/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/9/28')
                span.c-calendar-tbl__daily 28/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/9/29')
                span.c-calendar-tbl__daily 29/日
              td.c-calendar-tbl__cell(data-date='2024/9/30')
                span.c-calendar-tbl__daily 30/月
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
      .c-calendar-inner
        .c-calendar-month 10月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/10/1')
                span.c-calendar-tbl__daily 1/火
              td.c-calendar-tbl__cell(data-date='2024/10/2')
                span.c-calendar-tbl__daily 2/水
              td.c-calendar-tbl__cell(data-date='2024/10/3')
                span.c-calendar-tbl__daily 3/木
              td.c-calendar-tbl__cell(data-date='2024/10/4')
                span.c-calendar-tbl__daily 4/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/10/5')
                span.c-calendar-tbl__daily 5/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/10/6')
                span.c-calendar-tbl__daily 6/日
              td.c-calendar-tbl__cell(data-date='2024/10/7')
                span.c-calendar-tbl__daily 7/月
              td.c-calendar-tbl__cell(data-date='2024/10/8')
                span.c-calendar-tbl__daily 8/火
              td.c-calendar-tbl__cell(data-date='2024/10/9')
                span.c-calendar-tbl__daily 9/水
              td.c-calendar-tbl__cell(data-date='2024/10/10')
                span.c-calendar-tbl__daily 10/木
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/10/11')
                span.c-calendar-tbl__daily 11/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/10/12')
                span.c-calendar-tbl__daily 12/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/10/13')
                span.c-calendar-tbl__daily 13/日
              td.c-calendar-tbl__cell(data-date='2024/10/14')
                span.c-calendar-tbl__daily 14/月
              td.c-calendar-tbl__cell(data-date='2024/10/15')
                span.c-calendar-tbl__daily 15/火
              td.c-calendar-tbl__cell(data-date='2024/10/16')
                span.c-calendar-tbl__daily 16/水
              td.c-calendar-tbl__cell(data-date='2024/10/17')
                span.c-calendar-tbl__daily 17/木
              td.c-calendar-tbl__cell(data-date='2024/10/18')
                span.c-calendar-tbl__daily 18/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/10/19')
                span.c-calendar-tbl__daily 19/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/10/20')
                span.c-calendar-tbl__daily 20/日
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/10/21')
                span.c-calendar-tbl__daily 21/月
              td.c-calendar-tbl__cell(data-date='2024/10/22')
                span.c-calendar-tbl__daily 22/火
              td.c-calendar-tbl__cell(data-date='2024/10/23')
                span.c-calendar-tbl__daily 23/水
              td.c-calendar-tbl__cell(data-date='2024/10/24')
                span.c-calendar-tbl__daily 24/木
              td.c-calendar-tbl__cell(data-date='2024/10/25')
                span.c-calendar-tbl__daily 25/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/10/26')
                span.c-calendar-tbl__daily 26/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/10/27')
                span.c-calendar-tbl__daily 27/日
              td.c-calendar-tbl__cell(data-date='2024/10/28')
                span.c-calendar-tbl__daily 28/月
              td.c-calendar-tbl__cell(data-date='2024/10/29')
                span.c-calendar-tbl__daily 29/火
              td.c-calendar-tbl__cell(data-date='2024/10/30')
                span.c-calendar-tbl__daily 30/水
              td.c-calendar-tbl__cell(data-date='2024/10/31')
                span.c-calendar-tbl__daily 31/木
      .c-calendar-inner
        .c-calendar-month 11月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/11/1')
                span.c-calendar-tbl__daily 1/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/11/2')
                span.c-calendar-tbl__daily 2/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/11/3')
                span.c-calendar-tbl__daily 3/日
              td.c-calendar-tbl__cell(data-date='2024/11/4')
                span.c-calendar-tbl__daily 4/月
              td.c-calendar-tbl__cell(data-date='2024/11/5')
                span.c-calendar-tbl__daily 5/火
              td.c-calendar-tbl__cell(data-date='2024/11/6')
                span.c-calendar-tbl__daily 6/水
              td.c-calendar-tbl__cell(data-date='2024/11/7')
                span.c-calendar-tbl__daily 7/木
              td.c-calendar-tbl__cell(data-date='2024/11/8')
                span.c-calendar-tbl__daily 8/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/11/9')
                span.c-calendar-tbl__daily 9/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/11/10')
                span.c-calendar-tbl__daily 10/日
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/11/11')
                span.c-calendar-tbl__daily 11/月
              td.c-calendar-tbl__cell(data-date='2024/11/12')
                span.c-calendar-tbl__daily 12/火
              td.c-calendar-tbl__cell(data-date='2024/11/13')
                span.c-calendar-tbl__daily 13/水
              td.c-calendar-tbl__cell(data-date='2024/11/14')
                span.c-calendar-tbl__daily 14/木
              td.c-calendar-tbl__cell(data-date='2024/11/15')
                span.c-calendar-tbl__daily 15/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/11/16')
                span.c-calendar-tbl__daily 16/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/11/17')
                span.c-calendar-tbl__daily 17/日
              td.c-calendar-tbl__cell(data-date='2024/11/18')
                span.c-calendar-tbl__daily 18/月
              td.c-calendar-tbl__cell(data-date='2024/11/19')
                span.c-calendar-tbl__daily 19/火
              td.c-calendar-tbl__cell(data-date='2024/11/20')
                span.c-calendar-tbl__daily 20/水
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/11/21')
                span.c-calendar-tbl__daily 21/木
              td.c-calendar-tbl__cell(data-date='2024/11/22')
                span.c-calendar-tbl__daily 22/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/11/23')
                span.c-calendar-tbl__daily 23/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/11/24')
                span.c-calendar-tbl__daily 24/日
              td.c-calendar-tbl__cell(data-date='2024/11/25')
                span.c-calendar-tbl__daily 25/月
              td.c-calendar-tbl__cell(data-date='2024/11/26')
                span.c-calendar-tbl__daily 26/火
              td.c-calendar-tbl__cell(data-date='2024/11/27')
                span.c-calendar-tbl__daily 27/水
              td.c-calendar-tbl__cell(data-date='2024/11/28')
                span.c-calendar-tbl__daily 28/木
              td.c-calendar-tbl__cell(data-date='2024/11/29')
                span.c-calendar-tbl__daily 29/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/11/30')
                span.c-calendar-tbl__daily 30/土
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
      .c-calendar-inner
        .c-calendar-month 12月
        table.c-calendar-tbl
          tbody
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sun(data-date='2024/12/1')
                span.c-calendar-tbl__daily 1/日
              td.c-calendar-tbl__cell(data-date='2024/12/2')
                span.c-calendar-tbl__daily 2/月
              td.c-calendar-tbl__cell(data-date='2024/12/3')
                span.c-calendar-tbl__daily 3/火
              td.c-calendar-tbl__cell(data-date='2024/12/4')
                span.c-calendar-tbl__daily 4/水
              td.c-calendar-tbl__cell(data-date='2024/12/5')
                span.c-calendar-tbl__daily 5/木
              td.c-calendar-tbl__cell(data-date='2024/12/6')
                span.c-calendar-tbl__daily 6/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/12/7')
                span.c-calendar-tbl__daily 7/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/12/8')
                span.c-calendar-tbl__daily 8/日
              td.c-calendar-tbl__cell(data-date='2024/12/9')
                span.c-calendar-tbl__daily 9/月
              td.c-calendar-tbl__cell(data-date='2024/12/10')
                span.c-calendar-tbl__daily 10/火
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell(data-date='2024/12/11')
                span.c-calendar-tbl__daily 11/水
              td.c-calendar-tbl__cell(data-date='2024/12/12')
                span.c-calendar-tbl__daily 12/木
              td.c-calendar-tbl__cell(data-date='2024/12/13')
                span.c-calendar-tbl__daily 13/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/12/14')
                span.c-calendar-tbl__daily 14/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/12/15')
                span.c-calendar-tbl__daily 15/日
              td.c-calendar-tbl__cell(data-date='2024/12/16')
                span.c-calendar-tbl__daily 16/月
              td.c-calendar-tbl__cell(data-date='2024/12/17')
                span.c-calendar-tbl__daily 17/火
              td.c-calendar-tbl__cell(data-date='2024/12/18')
                span.c-calendar-tbl__daily 18/水
              td.c-calendar-tbl__cell(data-date='2024/12/19')
                span.c-calendar-tbl__daily 19/木
              td.c-calendar-tbl__cell(data-date='2024/12/20')
                span.c-calendar-tbl__daily 20/金
              td.c-calendar-tbl__cell.empty
                span.c-calendar-tbl__daily
            tr.c-calendar-tbl__row
              td.c-calendar-tbl__cell.--sat(data-date='2024/12/21')
                span.c-calendar-tbl__daily 21/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/12/22')
                span.c-calendar-tbl__daily 22/日
              td.c-calendar-tbl__cell(data-date='2024/12/23')
                span.c-calendar-tbl__daily 23/月
              td.c-calendar-tbl__cell(data-date='2024/12/24')
                span.c-calendar-tbl__daily 24/火
              td.c-calendar-tbl__cell(data-date='2024/12/25')
                span.c-calendar-tbl__daily 25/水
              td.c-calendar-tbl__cell(data-date='2024/12/26')
                span.c-calendar-tbl__daily 26/木
              td.c-calendar-tbl__cell(data-date='2024/12/27')
                span.c-calendar-tbl__daily 27/金
              td.c-calendar-tbl__cell.--sat(data-date='2024/12/28')
                span.c-calendar-tbl__daily 28/土
              td.c-calendar-tbl__cell.--sun(data-date='2024/12/29')
                span.c-calendar-tbl__daily 29/日
              td.c-calendar-tbl__cell(data-date='2024/12/30')
                span.c-calendar-tbl__daily 30/月
              td.c-calendar-tbl__cell(data-date='2024/12/31')
                span.c-calendar-tbl__daily 31/火


    .c-calendar-btn
      //- a(href="javascript:void(0);").js--prev 前の年へ
      a(href="javascript:void(0);").js--next 次の年へ
